<div [class]="isDesktop ? 'd-flex flex-column h-100 justify-content-between' : 'pt-44'" class="green-bg">
    <div class="form-wrapper">
        <form [formGroup]="completePasswordForm" class="login-wrapper rounded-1">
            <div class="head-title">
                <h5 class="text-white fw-bold mb-4">{{ 'complete_password.title' | translate }}</h5>
                <h5 class="m-0 text-white fw-normal">{{ 'complete_password. subtitle' | translate }}</h5>
            </div>

            <div class="container-blur">
                <div class="border-blur"></div>
                <div class="background-blur"></div>
                <div class="content-blur">
                    <div class="row mb-15">
                        <app-input #inputPassword [appendIcon]="'lock.svg'"
                            [label]="'complete_password.password' | translate" formControlName="password"
                            (onInput)="onChange()" (onClickPrepend)="togglePasswordVisibility()"
                            [prependIcon]="showPassword ? 'eye.svg' : 'eye-hide.svg'"
                            [type]="showPassword ? 'text' : 'password'" [maxlength]="'128'" [hasError]="errorPassword"
                            [idParrent]="'wrapInputCompletePassword'" [id]="'CompletePassword'"
                            [idButton]="'eyeBtnCompletePassword'" (enterKeyPressed)="validatePassword()"></app-input>
                        <div [hidden]="!errorPassword">
                            <div class="d-flex align-items-start">
                                <img src="/assets/image/icon/bx-error.svg" alt="bx error" />
                                <div id="errorCompletePassword"
                                    class="text-white mx-2 text-start error-validation d-flex flex-column white-space-pre">
                                    <strong>{{ 'complete_password. pasword_rule' | translate }}</strong>{{
                                    'complete_password. pasword_least_min_character' | translate }}&#10;{{
                                    complete_password. pasword_least_uppercase | translate }}&#10;{{
                                    'complete_password. pasword_least_lowercase'| translate }}&#10;{{
                                    complete_password. pasword_least_number' | translate }}&#10;{{
                                    'complete_password. pasword_least_special_character' | translate }}
                                </div>
                            </div>
                        </div>
                        <div [hidden]="!errorPasswordSpecialCharacter">
                            <div class="d-flex align-items-start">
                                <img src="/assets/image/icon/bx-error.svg" alt="bx error" />
                                <div id="errorCompletePasswordUnsupportCharacter"
                                    class="text-start text-white mx-2 error-validation">
                                    {{ 'complete_password.pasword_unsupport_special_character' | translate }}
                                    <div class="pt-10px">{{ '~! #$€£%^&*()+ -=<>?":(}|[] ;./"' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-15">
                        <app-input [appendIcon]="'lock.svg'" [label]="'complete_password.re_password' | translate"
                            formControlName="confirmPassword" (onInput)="onChange()"
                            (onClickPrepend)="toggleConfirmPasswordVisibility()"
                            [prependIcon]="showConfirmPassword ? 'eye.svg' : 'eye-hide.svg'" [type
                            ]="showConfirmPassword ? 'text' : 'password'" [maxlength]="'128'"
                            [hasError]="errorConfirmPassword" [idParrent]="'wrapInputCompleteConfirmPassword'"
                            [id]="'CompleteConfirmPassword'" [idButton]="'eyeBtnCompleteConfirmPassword'"
                            (enterKeyPressed)="validatePassword()"></app-input>

                        <div [hidden]="!errorConfirmPassword">
                            <div class="d-flex align-items-start">
                                <img src="/assets/image/icon/bx-error.svg" alt="bx error" />
                                <div id="errorCompletePasswordNotMatch" class="text-white mx-2 error-validation">
                                    {{ 'complete_password.password_not_match' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-term">
                            <div class="d-flex align-items-center" id="wrapCheckboxTermCondition"
                                style="margin-left: -6px; width: 110%;">

                                <app-custom-checkbox [isInvalid]="isInvalid" label="I agree to the terms"
                                    formControlName="terms" [id]="'checkboxTermCondition'">
                                    <label class="form-check-label ml-2 m-auto text-white text-start"
                                        for="checkboxTermCondition">{{ 'complete_password. agree'
                                        translate }}
                                        <a href="#" target="_blank" id="link-terms-conditions"
                                            (click)="displayTermsConditionsModal()" data-bs-toggle="modal"><u>
                                                {{ 'complete_password. terms_conditions' | translate }}</u></a></label>
                                </app-custom-checkbox>
                            </div>
                            <div *ngIf="isInvalid && completePasswordForm.get('terms')?.invalid"
                                class="text-white mt-2 error-validation">
                                <div>{{ 'complete_password. terms_conditions_error' | translate }}</div>
                            </div>
                        </div>

                        <div class="checkbox-term">
                            <div class="d-flex align-items-center" id="wrapCheckboxPrivacyNotice"
                                style="margin-left: -6px; width: 110%;">
                                <app-custom-checkbox label="I acknowledge the" formControlName="privacy"
                                    [isInvalid]="isInvalid" [id]="'checkboxPrivacyNotice'" [isPrivacy]="true">
                                    <label class="form-check-label ml-2 text-white text-start"
                                        for="checkboxPrivacyNotice">
                                        I acknowledge the information contained in the
                                        <a id="privacyNoticeLink" href="/assets/files/Privacy Notice - LabView360.pdf"
                                            target="_blank"><u>Privacy Notice</u></a>
                                    </label>
                                </app-custom-checkbox>
                            </div>
                        </div>

                        <div class="checkbox-term">
                            <div class="d-flex align-items-center" id="wrapCheckboxTraining"
                                style="margin-left: -6px; width: 110%;">
                                <app-custom-checkbox label="I acknowledge training" formControlName="training"
                                    [isInvalid]="isInvalid" [id]="'checkboxTraining'" [isTraining]="true">
                                    <label class="form-check-label ml-2 text-white text-start"
                                        for="checkboxTraining">
                                        I acknowledge that I have completed the relevant training. Please refer to the
                                        <span id="userGuideLink" role="button" (click)="openUserGuide(); $event.preventDefault()" 
                                           href="javascript:void(0)" style="cursor: pointer;"><u>user guide</u></span>
                                        and/or the
                                        <a id="instructionalVideosLink" (click)="openInstructionalVideos(); $event.preventDefault()" 
                                           href="javascript:void(0)" style="cursor: pointer;"><u>instructional videos</u></a>
                                        as needed.
                                    </label>
                                </app-custom-checkbox>
                            </div>
                            <div *ngIf="isInvalid && completePasswordForm.get('training')?.invalid"
                                class="text-white mt-2 error-validation" id="errorTrainingAck"
                                style="margin-top: 5px !important;">
                                <img src="/assets/image/icon/error-white.svg" alt="bx error"
                                    style="margin-right: 8px;" />
                                Please acknowledge you have completed the training.
                            </div>
                        </div>

                        <div class="row">
                            <button (click)="submit()" class="btn btn-outline-light w-100">{{ 'complete_password.submit'
                                | translate }}</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="expiredTimeCompletePasswordError" class="row pt-medium" style="margin-top: 15px;">
                    <div class="alert alert-danger text-break" role="alert" id="errorLinkCompletePasswordExpired">
                        | {{ 'error_message. register_link_expired' | translate }}
                    </div>
                </div>
        </form>
        <app-modal-terms-conditions *ngIf="displayTermsConditions"
            (close)="displayTermsConditions = !displayTermsConditions"></app-modal-terms-conditions>
    </div>
</div>